* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand img {
    display: inline-block;
    height: 100px;
}

.col-12 .row  a {
    height: 50px;
    color: #000;
    font-size: 25px;
    font-family: "Sofia", sans-serif;
}